/* * {
    margin: 0;
}

h1 {
    background-color: rgb(18, 18, 58);
    color: white;
    text-align:center;
    padding: 25px;  
    
}

#search-form{
    margin:25px 25px 15px 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(18, 18, 58);
    color: white;
    border-radius: 4px;
    padding: 7px;
    border: none;
} */

