header {
    background-color: rgb(6, 6, 51);
    color: white;
    text-align:center;
    padding-bottom: 1rem;

}

#search-form{
    background-color: rgb(197, 196, 196);
    padding: 15px;
    margin:15px;
    
}

#todayForcast{
    background-color: lightblue;
    padding: 25px;
    margin: 10px;
}

#fiveDayForcast{
    background-color: bisque;
    padding: 25px;
    margin: 10px;
}